@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext);

html, body, a, input, textarea, select{
	font-family: 'PT Sans', sans-serif;
}
html, body{
	height: 100%;
}
img{
	display: inline-block;
	*display: inline;
	vertical-align: top;
	zoom: 1;
}
A:hover{
	text-decoration: none;
}

form{
	margin: 0;
	padding: 0;
}

.i-clear{
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 1px;
	overflow: hidden;
}

.i-clearfix:before, .i-clearfix:after{
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}
.i-clearfix:after{
	clear: both;
}
*+html .i-clearfix{
	zoom: 1;
}

input[type="image"], input[type="button"], label{ cursor: pointer; }
table{ width: 100%; border-collapse: collapse; border-spacing: 0; border: 0; }

.checkbox{
	position: relative;
	top: 2px;
}
* html .checkbox{
	top: 1px;
}
*+html .checkbox{
	top: 1px;
}

@media not all and (-webkit-min-device-pixel-ratio){
	.checkbox{
		top: 0;
	}
}

/*
	Памятка по использованию селекторов browserCSSdetector.js:
		Селекторы ОСи:
			.win - Windows
			.linux - Linux
			.mac - MacOS

		Селекторы браузеров:
			.ie - все версии ИЕ
			.ie8 - ИЕ 8.х
			.ie7 - ИЕ 7.x
			.ie6 - ИЕ 6.x
			.ie5 - ИЕ 5.x
			.gecko - все версии фаерфокса, и остальные гекко-браузеры
			.ff2 - фаерфокс 2
			.ff3 - фаерфокс 3
			.opera - все версии оперы
			.opera8 - опера 8.x
			.opera9 - опера 9.x
			.konqueror - konqueror
			.safari - сафари

		Приоритеты на примере ФФ3:
		1	.win.ff3 #id{background: #aaa}
		2	.win.gecko #id{background: #f00}
		3	.ff3 #id{background:#333}
		4	.gecko #id{background:#00f}
		5	.win #id{background: #ff0}
 */

/*---*/

.pa{position: absolute !important;}
.pr{position: relative !important;}
.ps{position: static !important;}

.oh{overflow: hidden !important;}
.ov{overflow: visible !important;}

.dn{display: none !important;}
.db{display: block !important;}
.dib{display: inline-block; *display: inline;vertical-align: top;zoom: 1;}

.fn{float: none !important;}
.fr{float: right !important;}
.fl{float: left !important;}

.wa{width: auto !important;}

.m0{margin: 0 !important;}
.mt0{margin-top: 0 !important;}
.mr0{margin-right: 0 !important;}
.mb0{margin-bottom: 0 !important;}
.ml0{margin-left: 0 !important;}

.p0{padding: 0 !important;}
.pt0{padding-top: 0 !important;}
.pr0{padding-right: 0 !important;}
.pb0{padding-bottom: 0 !important;}
.pl0{padding-left: 0 !important;}

.fs12{font-size: 12px !important;}
.fs13{font-size: 13px !important;}
.fs14{font-size: 14px !important;}
.fs16{font-size: 16px !important;}
.fs18{font-size: 18px !important;}
.fs20{font-size: 20px !important;}
.fs24{font-size: 24px !important;}

.tar{text-align: right !important;}
.tac{text-align: center !important;}

.tdn{text-decoration: none !important;}
.tdn:hover{text-decoration: underline !important;}

.ttu{text-transform: uppercase !important;}

.vat{vertical-align: top !important;}

.wsn{white-space: nowrap !important;}

.cp{cursor: pointer;}

.b0{border: 0 !important;}
.bt0{border-top: 0 !important;}
.br0{border-right: 0 !important;}
.bb0{border-bottom: 0 !important;}
.bl0{border-left: 0 !important;}

.bbd{text-decoration: none !important; border-bottom: 1px dashed;}
.bbd:hover{text-decoration: none !important; border-bottom: 0;}

.bbdo{text-decoration: none !important; border-bottom: 1px dotted;}
.bbdo:hover{text-decoration: none !important; border-bottom: 0;}

.bgn{background: none !important;}

.cb{clear: both !important;}


/*---*/

/*
behavior: url(PIE.htc);
*/

body{
	background: url(../images/bg.png);
}

.pagewrap{
	position: relative;
	min-height: 100%;
	min-width: 1100px
}

/*--- header ---*/
.header{
	position: relative;
}
.header__inn{
	max-width: 1600px;
	margin: 0 auto;
}

.header__top{
	padding: 49px 0 0 0;
}

.header__top h1{
	margin: 0 0 47px 0;
	font-weight: normal;
	text-align: center;
}
.header__top h1 a{
	font-size: 126px;
	font-family: 'PT Sans Caption', sans-serif;
	text-decoration: none;
	line-height: 114px;
	color: #FFF;
}
.header__top h1 a span{
	display: block;
	font-size: 36px;
	line-height: 40px;
	font-family: 'PT Sans Narrow', sans-serif;
}

/*--- header navigation ---*/
.header__nav{
	clear: both;
	margin: 0 0 78px 0;
}
.header__nav__ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.header__nav__ul__li{
	float: left;
	width: 33.33%;
}
.header__nav__ul__li__a{
	display: block;
	font-size: 30px;
	text-align: center;
	color: #ffd140;
}
.header__nav__ul__li__a.color2{
	color: #a13dd5;
}
.header__nav__ul__li__a.color3{
	color: #36bbce;
}


.header__info{
	margin: 0 auto 52px auto;
	padding: 0 8%;
}
.header__info__block{
	float: left;
	width: 32%;
	padding: 0 5px;
	font-size: 25px;
	font-family: 'PT Sans Caption', sans-serif;
	text-align: center;
	color: #FFF;
	border-right: 1px dotted #949494;
}
.header__info__block:last-child{
	border: 0;
}
.header__info__block span{
	display: block;
	font-size: 100px;
	line-height: 100px;
	color: #ffd140;
}
.header__info__block span.color2{
	color: #a13dd5;
}
.header__info__block span.color3{
	color: #36bbce;
}


/*--- footer ---*/
.footer{
	clear: both;
}
.footer__inn{
	width: 864px;
	margin: 0 auto;
	padding: 46px 0 26px 0;
	font-size: 18px;
	text-align: center;
	color: #FFF;
}
.footer__inn a{
	text-decoration: none;
	color: #FFF;
}
.footer__inn a:hover{
	text-decoration: underline;
}


/*--- footer end---*/

/************************************************************************************
CONTENT
*************************************************************************************/
.content{
	display: none;
	width: 864px;
	margin: 0 auto;
}
.content1{
	display: block;
}

.text{
	font-size: 22px;
	color: #FFF;
}

.form{
}
.form h2{
	margin: 0 0 16px 0;
	font-size: 36px;
	font-weight: normal;
	text-align: center;
	color: #FFF;
}
.form form{
	width: 600px;
	padding: 0;
	margin: 0 auto;
}

.form label{
	display: block;
	margin: 0 0 12px 17px;
	font-size: 18px;
	color: #FFF;
}
.form .txt{
	width: 562px;
	height: 52px;
	margin: 0 0 15px 0;
	padding: 0 18px;
	font-size: 18px;
	line-height: 52px;
	color: #ababab;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ababab;
	background: none;
	outline: none;
}
.form textarea.txt{
	height: 179px;
	margin: 0 0 15px 0;
	padding: 18px;
	font-size: 18px;
	line-height: normal;
	color: #ababab;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ababab;
	background: none;
	outline: none;
}

.frm__line{
}
.frm__line__l{
	float: left;
	width: 290px;
	margin: 0 18px 0 0;
}
.frm__line__l:last-child{
	margin: 0;
}
.frm__line__l .txt{
	width: 254px;
}
.frm__line__l .select{
	width: 290px !important;
}


.niceRadio {
	width: 18px;
	height: 18px;
	margin: 0 0 0 18px;
	display: inline-block;
	*display: inline;
	vertical-align: top;
	zoom: 1;
	position: relative;
	top: 4px;
	cursor: pointer;
	background: url(../images/radio.png);
	overflow: hidden;
}
.radioChecked {
	background-position: 0 -18px;
}
.niceRadio input {
	margin-left: -20px;
}


.niceCheck {
	width: 18px;
	height: 18px;
	margin: 0 0 0 18px;
	display: inline-block;
	*display: inline;
	vertical-align: top;
	zoom: 1;
	position: relative;
	top: 4px;
	cursor: pointer;
	background: url(../images/checkbox.png);
	overflow: hidden;
}
.niceChecked {
	background-position: 0 -18px;
}
.niceCheck input {
	margin-left: -100px;
}





.checkbox__line .checkbox__line__l{
	float: left;
	width: 290px;
	margin: 16px 18px 30px 0;
}
.checkbox__line .checkbox__line__l:last-child{
	margin-right: 0;
}
.checkbox__line .checkbox__line__l label{
	display: inline-block;
	*display: inline;
	vertical-align: top;
	zoom: 1;
	margin: 0 0 0 14px;
}


.photo{
	margin: 0 0 0 -12px;
}
.photo .img{
	display: block;
	float: left;
	width: 141px;
	height: 105px;
	margin: 0 0 30px 12px;
	font-size: 18px;
	text-align: center;
	color: #818181;
}
.photo .plus{
	position: relative;
	display: block;
	float: left;
	width: 141px;
	height: 105px;
	margin: 0 0 54px 12px;
	background-color: rgba(0, 0, 0, 0.23);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType = 0, StartColorStr = '#23000000', EndColorStr = '#23000000');
}
.photo .plus:before{
	content: '+';
	position: absolute;
	width: 141px;
	height: 105px;
	font-size: 36px;
	text-align: center;
	color: #FFF;
	line-height: 105px;
}

.frm__btn{
	margin: 20px 0 0 0;
	text-align: center;
}
.frm__btn h3{
	margin: 26px 0 0 0;
	font-size: 36px;
	font-weight: normal;
	color: #FFF;
}
.frm__btn .btn{
	display: inline-block;
	*display: inline;
	vertical-align: top;
	zoom: 1;
	height: 52px;
	padding: 0 28px;
	font-size: 24px;
	line-height: 52px;
	text-decoration: none;
	color: #FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.20);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType = 0, StartColorStr = '#20FFFFFF', EndColorStr = '#20FFFFFF');
}
